<!--<div class="searchBox">
  <p> You can search recipes here </p>
  <input class="inputBox" type="text" placeholder =" Search... " [(ngModel)]="name">
  <button (click)="search()">
    Search
  </button>
</div>
-->
<div class="searchBox">
  <p>You can search recipes here by name</p>
  <input class="inputBox" type="text" [(ngModel)]="name">
  <button (click)="onSubmit()">Search</button>
  <ul *ngFor="let recipe of recipes">
    <li>
      <a [routerLink]="['recipes/'+ recipe.id]">{{recipe.id}} - {{recipe.name}}</a>
    </li>
  </ul>
</div>
