<app-profile></app-profile>
<div class="content">

    <div class="data">
      <p>Name: {{user.username}}</p>
    </div>

    <form>
        <div class="firstname">
          <label>Name:<br>
            <input [ngModel]="username" name="firstname">
          </label>
        </div>
<!--
        <div class="email">
            <label>Email:<br>
              <input [ngModel]="user.email" name="email">
            </label>
        </div>
-->
      <div class="edit">
        <button (click)="save()"> Edit the name </button>
      </div>

    </form>

    <!--<div class="recipses">

        <p> My recipes: </p>
        <div class="products">
            <div  class= "container">
                <h3 *ngFor="let recipe of recipes">
                    <a [title]="recipe.name + ' details'" [routerLink]="'/recipes/' + recipe.id">
                      {{ recipe.name }}
                    </a>
                    <img src = "{{recipe.image}}">
                </h3>
            </div>

      </div>
-->
  <div class="delete">
    <button [routerLink]="['/']" type="button" (click)="logOut()">Log out</button>
  </div>
   </div>

