<div class="add-page">

    <div class="name">
        <label>Put the name:
          <input type="text" [(ngModel)]="name">
        </label>
    </div>

    <div class="ingredients">
        <label>Count the ingredients:
          <input type="text" [(ngModel)]="ingredients">
        </label>
    </div>

    <div class="recipe">
        <label>How to cook it?:
          <input type="text" [(ngModel)]="description">
        </label>
    </div>

    <div class="image">
      <label>Put the image's urls:
        <input type="text" [(ngModel)]="image">
      </label>
    </div>

    <div class="add">
      <button (click)="add()">
        Add recipe
      </button>
    </div>

</div>
