<a routerLink="/"><h1>Recipe Book</h1></a>
<a routerLink="/categories"><p>Categories</p></a>
<a routerLink="/recipes"><p>Recipes</p></a>
<div>
  <div class="buttons">
    <button *ngIf="!this.loginService.logged" [routerLink]="['/login']" type="button">Login</button>
  </div>
  <div class="buttons">
    <button *ngIf="!this.loginService.logged" [routerLink]="['/signup']" type="button">Sign up</button>
  </div>

  <div class="buttons">
    <button *ngIf="this.loginService.logged" [routerLink]="['/profile']" class="unit" type="button">Profile</button>
  </div>
  <div class="buttons">
    <button  *ngIf="this.loginService.logged" (click)="logout()"  class="unit" type="button">Log out</button>
  </div>
  <div class="adding">
    <button *ngIf="this.loginService.logged" [routerLink]="['/recipe/add']">
      Add recipe
    </button>
  </div>
</div>


